*.swp
*.cmd
.tmp_versions/
*.symvers
*.o
*.order
*.unsigned
*.mod.c
*.d
*.ko
G*
*.sh
toa/
linux/
*.py
*.pyc
tmp/
udpd
kernel/
build/
*.deb
*.rpm
*.cmake
_CPack_Packages/
CMakeFiles/
CMakeCache.txt
install_manifest.txt
Kbuild
Kbuild.ccflags
Makefile
